<!-- <!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Edit User</legend>
			<table>
				<tr>
					<td>ID</td>
					
				</tr>
				<tr>
					<td>Name</td>
					
				</tr>
				<tr>
					<td>Userame</td>
					
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" ></td>
				</tr>
				
				<tr>
					<td>Address</td>
					
				</tr>
				<tr>
					<td>Contact</td>
					
				</tr>
				<tr>
					<td>Email</td>
					
				</tr>
				<tr>
					<td></td>
					
				</tr>
			</table>
			
		</fieldset>
	</form>
</body>
</html> -->




<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title><%= profile.uname %>| Profile</title>

    <!-- Fontfaces CSS-->
    <link href="/abc/css/font-face.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <!-- Bootstrap CSS-->
    <link href="/abc/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/abc/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/abc/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="#">
                    <h3 style="color: white;">Crowd Sourcing</h3>
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="/abc/images/icon/avatar-big-01.jpg" alt="John Doe" />
                    </div>
                    <h4 class="name"><%= profile.full_name %></h4>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a href="/admin/adminController">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="/admin/profile">
                                <i class="fas fa-user"></i>Profile</a>
                        </li>
                       
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                 <i class="fa fa-list-alt"></i>Category</a>
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/Categories"><i class="fas fa-table"></i>See Categories</a>
                                </li>
                                <li>
                                   <a href="/admin/addCategories"><i class="fa fa-plus-circle"></i>Add Categories</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                               <i class="fas fa-user-plus"></i> Add People</a>
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                 <li><a href="/admin/addAdmin"><i class="fas fa-user-cog"></i>Admin</a></li> 
                            </ul>
                        </li>
                        
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                              <i class="fas fa-cogs"></i>Operation</a>
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                 <li><a href="/admin/adminlist"><i class="fas fa-user-shield"></i>Admin</a></li>  
                                <li><a href="/admin/buyerlist"><i class="fas fa-user-tie"></i>Buyer</a></li>
                                <li><a href="/admin/sellerlist"><i class="fas fa-user"></i>Seller</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search by sellers category..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity"><%= msg_count %></span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have <%= msg_count %> news message</p>
                                            </div>

                                           <% for(var i=0; i < msg.length; i++){
                                                if(msg[i].status === 'unread'){ %>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/abc/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6><%= msg[i].name %></h6>
                                                    <p><%= msg[i].body%></p>
                                                    <a href="">Read</a>
                                                </div>
                                            </div>
                                            <%
                                                };
                                            }; 
                                            %>
                                            
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity"><%= email_count %></span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have <%= email_count %> Notifications</p>
                                            </div>

                                            <% for(var i=0; i < email.length; i++){
                                                if(email[i].status === 'unread'){ %>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date"><h6><%= email[i].name %></h6>
                                                        sub: <%= email[i].subject%>
                                                    </span>
                                                </div>
                                            </div>
                                            <%
                                                };
                                            }; 
                                            %>

                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/abc/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"><%= profile.username %></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/abc/images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#"><%= profile.username %></a>
                                                    </h5>
                                                    <span class="email"><%= profile.email %></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/buyer/profile">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                   <a href="/admin/resetpassword">
                                                        <i class="zmdi zmdi-settings"></i>Reset Password</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/buyer/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                      <div class="row" style="width: 200%; ">
                            <div class="col-lg-6" >
                                <div class="au-card recent-report"style="height: 100%;">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">User Profile</h3>

                                        <form method="post">
                                        	<table style="position: relative;left: 20px;">
												<tr>
													<td>ID</td>
													<td><input type="text" name="id" value="<%=profile.id%>" style="background-color: #F0F1F1;height: 35px;width: 150%;text-align: center;" readonly></td>
					
												</tr><br>
	
												<tr >
													<td style="width: 40%; height: 40px;">Name</td>
													<td><input type="text" name="full_name" value="<%=profile.full_name%>" style="background-color: #F0F1F1; height: 35px;width: 150%;text-align: center;"></td>
												</tr>
				
												<tr>
													<td style="width: 40%; height: 40px;">Username</td>
													<td><input type="text" name="username" value="<%=profile.username%>" style="background-color: #F0F1F1; height: 35px;width: 150%;text-align: center;"readonly></td>
												</tr>
												<tr>
													<td style="width: 40%; height: 40px;">Address</td>
													<td><input type="text" name="address" value="<%=profile.address%>"style="background-color: #F0F1F1; height: 35px;width: 150%;text-align: center;"></td>
												</tr>
												<tr>
													<td style="width: 40%; height: 40px;">Contact</td>
													<td><input type="text" name="contact" value="<%=profile.contact%>"style="background-color: #F0F1F1; height: 35px;width: 150%;text-align: center;"></td>
												</tr>
												<tr>
													<td style="width: 40%; height: 40px;">Email</td>
													<td><input type="email" name="email" value="<%=profile.email%>"style="background-color: #F0F1F1; height: 35px;width: 150%;text-align: center;"></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
												</tr>

											</table><br>

											<td> <input type="submit" name="submit" value="Submit" class="btn btn-success btn-lg" style="position: relative; left:100px;width: 30%;"></td>
										</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/abc/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/abc/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/abc/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/abc/vendor/slick/slick.min.js">
    </script>
    <script src="/abc/vendor/wow/wow.min.js"></script>
    <script src="/abc/vendor/animsition/animsition.min.js"></script>
    <script src="/abc/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/abc/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/abc/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/abc/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/abc/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/abc/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/abc/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/abc/js/main.js"></script>

</body>

</html>
<!-- end document-->
