<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> | Portal</title>
    <link rel="stylesheet" href="/abc/css/dashboard.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>

<body>

    <div class="wrapper"> 
        <div class="Header">
            <h3><i class="fas fa-bars"></i> Menu</h3>
            
            <div class="header">
                <ul>
                    <li><a href=""><i class="fas fa-bell"></i></a></li>
                    <li><a href="https://www.google.com/intl/bn/gmail/about/"><i class="fas fa-envelope"></i></a></li>

                    <li>
                        <a href=""><i class="fas fa-user-circle"></i></a>

                        <ul>
                            <li><a href="/admin/profile"><i class="fas fa-user"></i> Profile</a></li>
                            <li><a href="/admin/resetpassword"><i class="fas fa-redo"></i> Reset Password</a></li>
                            <li ><a href="/admin/logout" class="logout"><i class="fas fa-power-off"></i>  Logout</a></li>
                        </ul>
                    </li>
                </ul>       
            </div>
        </div>
        
       
        <div class="sidebar"> 
            <ul>
                
                <li><a href="/admin/profile"><i class="fas fa-address-card"></i>Profile</a></li>
                
                <li><a href="/admin/Categories"><i class="fas fa-user-plus"></i>Categories</a>
                    <ul>
                        <li><a href="/admin/addCategories"><i class="fas fa-user-shield"></i>Add Categories</a></li> 
                    </ul>
                </li>

                <li><a href="/admin/addAdmin"><i class="fas fa-user-plus"></i>Add People</a>
                    <ul>
                        <li><a href="/admin/addAdmin"><i class="fas fa-user-shield"></i>Admin</a></li> 
                    </ul>
                </li>

                <li><a href="#"><i class="fas fa-cogs"></i>Operation</a>
            
                <ul>
                    <li><a href="/admin/adminlist"><i class="fas fa-user-shield"></i>Admin</a></li>  
                    <li><a href="/admin/buyerlist"><i class="fas fa-user-md"></i>Buyer</a></li>
                    <li><a href="/admin/sellerlist"><i class="fas fa-id-badge"></i>Seller</a></li>              
                </ul>
            
                </li>
            
                <li><a href="/admin/logout"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
            </ul> 
            
            <div class="social_media">
                <a href="https://web.facebook.com/?_rdc=1&_rdr"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/explore"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/?hl=bn"><i class="fab fa-instagram"></i></a>
                <a href="https://bd.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div> 
    
    
</body>
</html> -->








<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title><%= user.uname %> | Portal</title>

    <!-- Fontfaces CSS-->
    <link href="/abc/css/font-face.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <!-- Bootstrap CSS-->
    <link href="/abc/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/abc/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/abc/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/abc/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <h3>Crowd Sourcing</h3>
                   <!--  <img src="images/icon/logo.png" alt="Cool Admin" /> -->
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li><a href="/admin/profile"><i class="fas fa-address-card"></i>Profile</a></li>

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-list-alt"></i>Category</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                  <li><a href="/admin/Categories"><i class="fas fa-table"></i>See Categories</a>
                                  <li><a href="/admin/addCategories"><i class="fa fa-plus-circle"></i>Add Categories</a></li> 
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                              <i class="fas fa-user-plus"></i> Add People</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/admin/addAdmin"><i class="fas fa-user-cog"></i>Admin</a></li> 
                                
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                              <i class="fas fa-cogs"></i>Operation</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/admin/adminlist"><i class="fas fa-user-shield"></i>Admin</a></li>  
                    			<li><a href="/admin/buyerlist"><i class="fas fa-user-tie"></i>Buyer</a></li>
                    			<li><a href="/admin/sellerlist"><i class="fas fa-user"></i>Seller</a></li>
                                
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <!-- <form class="form-header" action="" method="POST"> -->
                                <input class="au-input au-input--xl" type="text" name="search" id="search" placeholder="Search by name..." />

                                <ul class="list-group" id="result"></ul>

                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            <!-- </form> -->
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity"><%= msg_count %></span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have <%= msg_count %> news message</p>
                                            </div>

                                           <% msg.forEach( function(m){
                                                if(m.status === 'unread'){ %>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/abc/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6><%= m.name %></h6>
                                                    <p><%= m.body%></p>
                                                    <a href="">Read</a>
                                                </div>
                                            </div>
                                            <%
                                                };
                                            }); 
                                            %>
                                            
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity"><%= email_count %></span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have <%= email_count %> Notifications</p>
                                            </div>

                                            <% for(var i=0; i< email.length; i++){ %>
                                               <% if(email[i].status === 'unread'){ %>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date"><h6><%= email[i].name %></h6>
                                                        sub: <%= email[i].subject%>
                                                    </span>
                                                </div>
                                            </div>
                                            <%
                                                };
                                            }; 
                                            %>

                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/abc/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"><%= user.name %></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/abc/images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#"><%= user.uname %></a>
                                                    </h5>
                                                    <span class="email"><%= user.email %></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/buyer/profile">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="/admin/resetpassword">
                                                        <i class="zmdi zmdi-settings"></i>Reset Password</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/buyer/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                    <button class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi zmdi-plus"></i>add item</button>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= overview.admin %></5></h2>
                                                <span>Admin</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= overview.buyer %></h2>
                                                <span>Buyer</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= overview.seller %></h2>
                                                <span>Seller</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">recent reports</h3>
                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                                <div class="chart-note">
                                                    <span class="dot dot--blue"></span>
                                                    <span>products</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--green"></span>
                                                    <span>services</span>
                                                </div>
                                            </div>
                                            <div class="chart-info__right">
                                                <div class="chart-statis">
                                                    <span class="index incre">
                                                        <i class="zmdi zmdi-long-arrow-up"></i>25%</span>
                                                    <span class="label">products</span>
                                                </div>
                                                <div class="chart-statis mr-0">
                                                    <span class="index decre">
                                                        <i class="zmdi zmdi-long-arrow-down"></i>10%</span>
                                                    <span class="label">services</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-report__chart">
                                            <canvas id="recent-rep-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">char by %</h3>
                                        <div class="row no-gutters">
                                            <div class="col-xl-6">
                                                <div class="chart-note-wrap">
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--blue"></span>
                                                        <span>products</span>
                                                    </div>
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--red"></span>
                                                        <span>services</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="percent-chart">
                                                    <canvas id="percent-chart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/abc/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/abc/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/abc/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/abc/vendor/slick/slick.min.js">
    </script>
    <script src="/abc/vendor/wow/wow.min.js"></script>
    <script src="/abc/vendor/animsition/animsition.min.js"></script>
    <script src="/abc/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/abc/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/abc/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/abc/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/abc/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/abc/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/abc/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/abc/js/main.js"></script>

    <script>
        $(document).ready(() => {
            $("#search").keyup(() => {
                $("#result").html('');
                var searchField = $('#search').val();
                // alert('search');
                // ajax calling
                $.ajax({
                    url: "/admin/search",
                    data: {search : searchField},
                    method: "POST",
                    ContentType: "application/x-www-form-urlencoded",
                    success: (result) => {
                        for (var i=0; i < result.length; i++){
                            $('#result').append(`<li class="list-group-item">${result[i].username}</li>`);
                            //------------------>>  under the the search box ul tag see id=result
                            }
                    },
                    error: (err) => {
                        alert(err);
                    }
                });

            });
        });
    </script>

</body>

</html>
<!-- end document-->
