<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/abc/css/register.css">
</head>
<body>
    <div class="register-page">
      
        <div class="form">
          <h2 style="color: #595955;">Edit Profile</h2>
          <form class="register-form" method="POST" action="">
            <input type="text" name="full_name" value="<%= user.full_name %>"/>

            <input type="text" name="username" value="<%= user.username %>"/>
            
            <input type="email" name="email" value="<%= user.email %>"/>
            <input type="text" name="contact" value="<%= user.contact %>"/>
            <input type="text" name="address" value="<%= user.address %>"/>
            <button>Save</button>
          </form>
          <p>Goto <a style="color: rgb(39, 167, 39);" href="/seller/sellerController">Dashboard</a></p>
        </div>
      </div>
</body>
</html>