<!DOCTYPE html>
<html>
<head>
	<title>Sellers</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #BCD6CA">

	<h1>Seller List</h1><br>

	<input type="text" name="search" id="search" placeholder="Search by category..." />
	<!-- <button id="sear">Search</button> -->
	<br><br>
	<table border="1" id="myTable">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Category</td>
			<td>Buyer Name</td>
			<td>Project Title</td>
			<td>Action</td>


		</tr>

		 <% 
			sellers.forEach( function(s){ %>
			<tr  id="all_sellers">
				<td><%= s.user_id %></td>
				<td><%= s.name %></td>
				<td><%= s.category_name %></td>
				<td><%= s.buyer_name %></td>
				<td><%= s.project_title %></td>
		
				<td>
					<a href="/buyer/message/<%=s.user_id%>"><button style="background-color: green;">Chat</button></a>
					<a href="/buyer/message/<%=s.user_id%>"><button style="background-color: lightblue;">Details</button></a>

				</td>
			</tr>

			

		<%
			}); 
		%> 

		
		
	</table>
	<br>

	<a href="/buyer/buyerController"><button style="background-color: #5AA9D6">Back</button></a>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<script>
        $(document).ready(() => {
            $("#search").keyup(() => {
                
				var searchField = $('#search').val();
                // alert('search');
                // ajax calling
                $.ajax({
                    url: "/buyer/search",
                    data: {search : searchField},
                    method: "POST",
                    ContentType: "application/x-www-form-urlencoded",
                    success: (result) => {
						   $('#all_sellers').remove();
						   for(i =0; i< result.length; i++){
							
							   var td = `<tr id="add_row"><td> ${result[i].user_id} </td>
								<td> ${result[i].name }</td>
								<td> ${result[i].category_name} </td>
								<td> ${result[i].buyer_name} </td>
								<td> ${result[i].project_title} </td>
						
								<td>
									<a href="/buyer/message/ ${result[i].user_id} "><button style="background-color: green;">Chat</button></a>
									<a href="/buyer/message/ ${result[i].user_id} "><button style="background-color: lightblue;">Details</button></a>

								</td></tr>`;
								
							   $('#myTable').append(td);
						   }
                    },
                    error: (err) => {
                        alert(err);
                    }
                });

            });
        });
    </script>
</body>
</html>